 <!-- <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <img src="../../assets/googleImage.jpg" alt="googleImage" class="googleImage">
    </mat-card-header>
    <div class="card-content">
      <div class="content-left">
        <h1 class="mainHeading">Create a strong</h1>
        <h1 class="mainHeading-side">password</h1>
        <h4 class="mainHeading-side2">Create a strong password </h4>
      </div>
      <div class="content-right">
        <form>
          <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input matInput placeholder="password">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confirm</mat-label>
            <input matInput placeholder="confirm password">
          </mat-form-field>
        </form> 
      </div>  
    </div>
    <mat-card-actions>
        <button class="Next" mat-button>Next</button>
    </mat-card-actions>    
    </mat-card> 
    
    <mat-form-field class="btm" appearance="fill" >
      <mat-select [value]="'en-US'">
        <mat-option class="opt" value="en-US">English (United States)</mat-option>
        <mat-option class="opt" value="fr">French</mat-option>
        <mat-option class="opt" value="de">German</mat-option>
        <mat-option class="opt" value="it">Italian</mat-option>
        <mat-option class="opt" value="es">Spanish</mat-option>
        <mat-option class="opt" value="pt">Portuguese</mat-option>
        <mat-option class="opt" value="ja">Japanese</mat-option>
        <mat-option class="opt" value="ko">Korean</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="footerbutton" mat-button>Help</button>
    <button class="footerbutton1" mat-button>Privacy</button>
    <button class="footerbutton1" mat-button>Terms</button>
   -->

   <mat-card class="example-card" [formGroup]="userform" appearance="outlined">
    <img class="logo-icon" mat-card src="../../assets/googleImage.jpg">
    <div class="content">
      <div class="left-text">
        <p class="sign-in-text">Choose your Gmail address</p>
        <p class="sign-in-text2" style="font: 16px roboto; color: #1F1F1F; margin-left: 5%; ">Pick a Gmail address or create your own</p>
      </div>
      <div class="right-text">
        <mat-form-field appearance="outline">
            <mat-label>Create a Gmail address</mat-label>
            <input formControlName="email" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Create password</mat-label>
            <input formControlName="password" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input formControlName="confirmpassword" matInput>
        </mat-form-field>
        <p style="margin-left: 2%;">you can use letters,numbers and fullstops</p>
      </div>
    </div>
    <div style="margin-top: 5%; display: flex; align-items: center; justify-content: space-evenly;">
      <a mat-flat-button
        style="background: #0b57d0; color: #fff; height: 36px; border-radius: 40px; width: 10%; margin-left: 600px;" (click)="submitForm()" >Next</a>
    </div>
  </mat-card>